{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Blocks
{% endblock %}

{% block content %}
<p>
    This session will contain <b>30 </b>blocks. Finally, 1 block will be randomly chosen and your total ECU earnings from that block will determine your cash earnings. So please pay attention to the following instructions, and pay attention when making every decision.
</p>
<p>
    In the beginning of each block, all participants in this session will be randomly assigned into 2 equal-sized groups. In the game you are going to play, one group will play as the Firm (the Firm group) and the other group will play as the Investor (the Investor group). Within the same block, groups and players’ roles stay fixed. In the beginning of each new block though, groups and roles are randomly re-assigned.
</p>
    {% next_button %}

{% endblock %}
