{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
General Information
{% endblock %}

{% block content %}
<p>
    Welcome to this experiment and thank you for participation! Please try your best in all the questions because this is an experiment that involves real cash payments to you depending on your choices and luck. During the experiment, you have the right to quit at any point and we will still pay you the show-up fee of £4. If you have any questions, please call the experimenter to come and answer your questions privately. We ask you not to communicate with each other during the experiment.
</p>
<p>
    The currency used within this experiment is called experimental cash unit (ECU). Your ECUs will be converted to cash at the end of the experiment at the rate of <b>10 ECU=£1</b>.
</p>
    {% next_button %}

{% endblock %}
